@media screen and (max-width: 576px) {
    .desktop-only{
        display: none;
    }
    body {
        background-size: auto;
    }
    .ctas-1,
    .ctas-2,
    .arrow-icon {
        display: none;
    }
    .section1-left-container {
        margin-top: 110px;

    }
    .mobiles-icon1 {
        top: -74px;
        height: 600px;
        width: 330px;
        padding-top: 13px;
        padding-left: 5px;
    }
    .business-loans-made-container {
        font-size: 26px;
    }
    .why {
        font-size: 26px;
        font-weight: 500;
    }
    .container-height-2 {
        margin-top: -200px;
        width: 312px !important;
        border-radius: 10px;
    }
    .body-text9 {
        font-size: 14px;
        line-height: 20px;
    }
    .effortlessly-1, .effortlessly-2,.stress-free-1 {
        font-size: 26px;
        line-height: 32px;
    }
    .effortlessly-2{
        margin-top: 0;
    }
    .seamless-line-height{
        line-height: 29.9px;
    }
    .body-text5{
        line-height: 20px;
        font-size: 14px;
    }
    .security-and-support-card{
        height: auto;
        border-radius: 10px;
    }
    .rbi-icon{
        height: 24.31%;
        width: 20.78%;
    }
    .security-icons{
        height: 22.31%;
        width: 16.35%;
    }
    .support-text{
        color: #53576d;
        font-weight: 400;
        font-size: 14px;
    }
    .container-5-margin{
        padding-bottom: 35px;
    }
    .testimonial-top-margin{
        margin-top: 1.5rem !important;
      }
    .container-6-margin {
        width: 86.7% !important;
    }
    .our-customers-love {
        /* margin-left: 6% !important; */
        margin-left: 8.8%;
        line-height: 15px;
        top: -1.15em !important;
    }
    .component-504{
        display: none;
    }
    .sub-footer{
        height: 258px;
    } 
    .fg-bg-icon {
        height: 475px;
      }
    .slider{
        margin-top: -15px !important;
    }
    .icons-container{
        margin-top: 10px;
    }
    .verify-the-following-parent {
        display: block;
    }
    .footer {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 5px;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 80px;
        width: 100%;
    }
    .mobile-only {
        display: block !important;
    }
    .main-container {
        row-gap: 28px;
    }
    .main-container .section-container {
        width: 86.7% !important;
    }
    .container-2-margin {
        padding-bottom: 20px !important;
    }
    .container-3-margin {
        padding-bottom: 0 !important;
    }
    .container-3-margin>.container-4-margin {
        padding-bottom: 0 !important;
    }
    .container-3-margin>div {
        width: 100%;
    }
    .container-3-margin > div:hover {
        background-color: #e8ebfa;
    }
    .container-4-margin {
        border-radius: 10px;
    }
    .container-4-margin-bottom{
        margin-bottom: -25px !important;
    }
    .download-app {
        display: none;
    }
    .container-4-margin>div {
        padding-right: 0;
    }
    .container-4-photo {
        width: 78%;
    }
    .container-3-margin img {
        margin-bottom: -7%;
        margin-top: -20px;
    }
    .card-3-stress-free{
        margin-top: -20px;
    }
    .container-4-photo img {
        width: 100%;
        height: auto;
        aspect-ratio: 1;
    }
    .container-4-photo {
        width: 100%;
        height: auto;
    }
    
    .container-4-photo-transition-effect img {
        overflow: hidden; 
        opacity: 0; 
        transition: opacity 0.3s ease-in-out; 
    }
    
    .fade-in {
        opacity: 1 !important;
        animation: fadeIn 0.3s ease-in-out;
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(10%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    
    
    
    .container-4-margin>div,
    .container-3-margin,
    .container-2-margin>div {
        flex-direction: column;
        row-gap: -42px;
    }
    .container-3-margin {
        row-gap: 28px
    }
    .container-2-margin > div > div:first-child {
        padding-top: 0;
      }
    .container-3-margin>.container-4-margin>div>div:nth-child(2) {
        width: 100%;
        margin-bottom: 0 !important;
    }
    .container-3-margin>.container-4-margin>div>div:nth-child(2) {
        padding-top: 0% !important;
    }
    .container-3-margin>.container-4-margin {
        margin-bottom: 0 !important;
        padding-right: 8px;
    }
}



@media screen and (min-width : 576px) {
    .container-3-margin > .container-4-margin > div > div:nth-child(2):hover {
        width: 42%;
        padding-top: 10%;
        margin-bottom: -14%;
      }
}


@media screen and (min-width: 576px) and (max-width: 1400px) {
    .section-container{
        width: 90.8% !important;
    }    

    .our-customers-love-us{
        margin-left: 4.8%;
    }
}

@media screen and (min-width: 1400px) {
    .our-customers-love-us{
        margin-left: 10.2%;
    }    
}
